body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',Arial;
    color: white;
}

.header {
    background-color: #b4121b;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    flex-grow: 0;
}


.Hero {
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.Hero-Container {
    gap: 5px;
    margin: 10px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.Hero-Container button{
        background-color: #b4121b;
        color: #f9faf8;
        border: 0px;
        padding: 3px;
        margin: 2px;
        align-self: center;
    
}
.Hero-Image {
    padding: 80px;
    margin-left: 200px;
}

.Hero-Image img{
    border: 5px solid #b4121b;
    border-radius: 20%;
    box-shadow: 10px 9px 20px #b4121b;
}

.Hero .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}


a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right:20px ;
}
